/node_modules
dist
distDev
site

#jekyll ignore
docs/sass-cache/
docs/jekyll-cache/
docs/gemfiles/
docs/vendor/bundle/
docs/vendor/cache/
docs/vendor/gems/
docs/vendor/ruby/
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
.liquidrc
Gemfile
Gemfile.lock
