/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */
* {
  box-sizing: border-box;
}

@import './fontFaces.css';

/* HTML Element Styles */
body {
  font-size: 1rem;
  font-family: Raleway;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #dfdfdf;
}

body::-webkit-scrollbar-thumb {
  background-color: #888787;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f75321;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}
p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5em;
  font-family: inherit;
}

/* Atomic Classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* Structure Classes */
.page-container {
  max-width: 1400px;
  margin: auto;
}

.font-container {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .font-container {
    font-size: 0.8rem;
  }
}

.divider {
  width: 100%;
  background-color: grey;
  height: 1px;
}

/* Style Classes */
@keyframes iconSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.iconRotate {
  animation: iconSpin 1s infinite ease-in-out;
}

.logo {
  font-family: Satisfy;
  font-size: 2em;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.logo:hover {
  color: #f75321;
}

.brand-bg {
  background-color: #f75321;
}

.light-text {
  color: white;
}

.dark-text {
  color: #3d3c3c;
}

.bold-text {
  font-weight: 800;
}

.icon {
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}

@keyframes iconSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.iconRotate {
  animation: iconSpin 1s infinite ease-in-out;
}

/* Cookie Banner */
.cookie-banner {
  color: white;
  background-color: #f75321;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #8a8a8a;
  padding: 10px 20px 20px;
  display: none;
}

.show-cookie {
  display: flex;
}

.cookie-info {
  max-width: 70%;
}

.cookie-header {
  font-weight: 800;
  margin-bottom: 10px;
}

.cookie-msg {
  font-size: 0.8em;
}

button.cookie-btn {
  min-width: 60px;
  max-height: 30px;
  border-radius: 0;
  font-weight: 800;
  font-size: 0.8em;
  color: #494949;
}
