.about-holder {
  padding: 20px;
  margin-bottom: 30px;
}

.about-header {
  text-align: center;
  margin-bottom: 50px;
}
.pic-container {
  gap: 40px;
  margin-bottom: 40px;
}

.pic-desc {
  max-width: 200px;
  text-align: center;
}

.pic-holder {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid grey;
}

@media screen and (max-width: 425px) {
  .pic-holder {
    height: 200px;
    width: 200px;
  }
}

.details {
  gap: 40px;
  max-width: 600px;
}

.detail-item {
}

.text-header {
  margin-bottom: 10px;
}

P {
  margin-bottom: 20px !important;
  text-indent: 30px;
}

@media screen and (max-width: 425px) {
  p {
    text-indent: 20px;
  }
}

.tech-stack {
  gap: 30px;
  width: 100%;
}

.tech-icon {
  /* border: 1px solid black; */
  height: 60px;
  width: 60px;
  object-fit: fill;
  overflow: hidden;
}
